<div class='container'>
    <div class="score">Your score is <%= score %> </div>

    <form action="/" method="post">
        <input type="hidden" name="score" value="<%= score %>">
        <input type="submit" value="home Page">
    </form>
</div>