
<% let scoreArr = scores.map((scoreObj) => {return scoreObj.score}) %>
<% scoreArr.sort((a,b) => {return b - a}) %>
<div class="container">
<form action="/start_game" method="post">    
        <header>
            <h1 class="head__main">HANGMAN</h1>
            <h3 class="head__descr">Programming edition</h3>
        </header>
        <div class="highscores">
            <h1>Highscores</h1>
             <div class="table">  
            <% for(let i = 0; i < scoreArr.length && i <= 10; i++ ) { %>
                <div><%= scoreArr[i] %></div>
            <% } %>
            </div> 
        </div>
        
        <input type="hidden" name="score">
        <input type="hidden" value="" name="word_id">
        <input type="submit" class="new-game__input" value="new game">
    </form>
</div>
