<div class="container">
    <form action="/continue" method="post">

        <div>Your score is <%= score %> </div>
        <input type="hidden" value="<%= guessed_words_ids %>" name="guessed_words_ids">
        <input type="submit" value="continue">

    </form>

    <form action="/" method="post">

        <input type="hidden" value="<%= score %>" name="score">
        <input type="submit" value="end game">

    </form>
</div>