* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: good-game;
  src: url("./good-game.ttf");
}

body {
  background: rgb(61 79 173) !important;
}

.container {
  margin: 0 auto;
  width: 100%;
  height: 100dvh;
  background-image: url(./hangman_the_game.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 80px;
}

.word-type {
  margin: 0 auto;
  background-color: rgb(61 79 173);
  padding: 15px;
  width: fit-content;
  text-align: center;
  font-size: 24px;
  font-family: good-game;
  border-radius: 6px;
  letter-spacing: 3px;
}

.word {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.alphabet {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 20px;
  width: 700px;
}

.opened-letter {
  font-family: fantasy;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 2px solid rgb(61 79 173);
  border-radius: 8px;
  background-color: rgb(86, 114, 255);
}

.closed-letter {
  width: 50px;
  height: 50px;
  border: 2px solid rgb(61 79 173);
  border-radius: 8px;
  background-color: black;
}

.letter {
  font-family: fantasy;
  width: 50px;
  height: 50px;
  border-radius: 20px;
  background-color: rgb(82, 106, 230);
  font-size: 16px;
  border: none;
}

.letter:disabled {
  width: 50px;
  height: 50px;
  background-color: rgb(25, 33, 68);
}

.word-hint {
  color: rgb(14, 18, 39);
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  margin: 10px 0;
}

.figure-svg {
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(61 79 173);
}

.win_div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.win_txt {
  text-align: center;
  font-family: good-game;
  font-size: 50px;
}

.lose_txt {
  text-align: center;
  font-family: good-game;
  font-size: 50px;
}

.main-menu_btn {
}

.continue_btn {
  padding: 10px 20px;
  border-radius: 6px;
  background-color: rgb(61 79 173);
  color: white;
  font-family: cursive;
  font-weight: bold;
  letter-spacing: 3px;
  border: none;
}

.main-menu_btn {
  padding: 10px 20px;
  border-radius: 6px;
  background-color: rgb(61 79 173);
  color: white;
  font-family: cursive;
  font-weight: bold;
  letter-spacing: 3px;
  border: none;
}
/*

form {
  padding: 0 10px; 
}
.game__input { 
  height: 20px;
  display: flex;
  margin: 10px auto;
}
.guessed-word {
  background-color: white !important;
  color: black !important;
}
.container {
  padding: 10px;
  border: 1px rgb(40, 129, 245) solid;

  margin: 50px auto;
  width: 60%;
  height: 460px;
  background-color: rgb(205, 225, 252);
}
.word-letter {
  width: 10%;
  height: auto;
  margin: 0 auto;
}
.random-word {
  display: flex;
  justify-content: space-evenly;
}
.random-word div {
  width: 30px;
  height: 30px;
  line-height: 15px;
  text-align: center;
  border: 2px solid black;
  padding: 5px;
  background-color: grey;
}
.entered-letters {
  display: flex;
}
.entered-letters div {
  margin-left: 2px;
} */

.hangmanDiv {
  text-align: center;
}

.figure-svg {
  padding-left: 7%;
  height: 250px;
  fill: transparent;
  stroke: transparent;
  stroke-width: 4px;
  stroke-linecap: round;
}

.svg-visible {
  fill: transparent;
  stroke: black;
  stroke-width: 4px;
  stroke-linecap: round;
}

.statusDiv {
  text-align: center;
  margin: 2% 0;
}

.input-box {
  margin: auto;
  display: block;
  margin-bottom: 1%;
  width: 35%;
}

.word-reveal {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  animation: fadein 1s;
}
