* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: good-game;
    src: url('./good-game.ttf');
}

.head__main {
    font-family: good-game;
}


h1 {
    text-align: center;
    font-family: good-game;
}

body {
    background: rgb(61 79 173) !important;
}

.container {
    background-image: url('./hangman.png');
}

 .scores { 
    width: 290px;
    font-family: good-game;
    font-size: 22px;
    border-radius: 10px;
    padding: 16px 20px 0 20px;
    height: 390px; 
    margin: 0 auto;
    background-color: rgba(61, 80, 173, 0.665);
} 

/* .new-game__input {
    border: 1px solid rgb(0, 0, 0);;
    background-color: rgba(61, 80, 173, 0);
    font-family: good-game;
    font-size: 20px;
    margin-top: 25px;
    width: 240px;
    height: 30px;
    border-radius: 30px;
    cursor: pointer;
} */
/* 
.new-game__input:hover  {
    background-color: rgb(61, 80, 173);
} */
